 <div class="container-fluid">
    <div class="row">
        <form class="form">
            <h4>RFID Configuration</h4>
            <div class="form-group">
              <label for="rfidTag1">RFID Tag 1</label>
              <input type="text" class="form-control" id="rfidTag1" placeholder="">
            </div>
            <div class="form-group">
              <label for="rfidTag2">RFID Tag 2</label>
              <input type="text" class="form-control" id="rfidTag2" placeholder="">
            </div>
            <div class="form-group">
                <label for="rfidTag3">RFID Tag 3</label>
                <input type="text" class="form-control" id="rfidTag3" placeholder="">
              </div>
              <div class="form-group">
                <label for="rfidTag4">RFID Tag 4</label>
                <input type="text" class="form-control" id="rfidTag4" placeholder="">
              </div>
              <div class="form-group">
                <label for="rfidTag5">RFID Tag 5</label>
                <input type="text" class="form-control" id="rfidTag5" placeholder="">
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


