<div class="container-fluid">
    <div class="row">
        <form class="form">
        <div>
            <div class="form-group">
              <label for="interfaceType">Interface Type(1. WiFi/2.GSM/3. Ethernet</label>
              <input type="text" class="form-control" id="status" placeholder="1"> 
            </div>
            <h6>WiFi Configuration</h6>
            <div class="form-group">
              <label for="wifiName">WiFi Name</label>
              <input type="text" class="form-control" id="wifiName" placeholder="Enter _ssid">
            </div>
            <div class="form-group">
                <label for="wifi-pswd">Password</label>
                <input type="text" class="form-control" id="wifi-pswd" placeholder="Enter _password">
              </div>
              <div class="form-group">
                <label for="security">Security</label>
                <input type="text" class="form-control" id="security" placeholder="1">
              </div>
        </div>
            <hr>
            <div>
              <p>GSM Configuration</p>
            <div class="form-group">
              <label for="apn_name">APN Name</label>
              <input type="text" class="form-control" id="apn_name" placeholder="Enter APN"> 
            </div>
            <div class="form-group">
              <label for="apn_pswd">Password</label>
              <input type="text" class="form-control" id="apn_pswd" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="chargerID">GSM type</label>
                <input type="text" class="form-control" id="chargerID" placeholder="2">
              </div>
            </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


