.container-fluid{
    position: relative;
    width: 100%;
    padding-top: 40px;
}

.card-header{
    background-color: darkgray;
}
h2{
    border-bottom: 2px solid black;
}
@media screen and (max-width: 576px) {
    .form{
        min-width: 100%;   
    }
    .inputCenter{
        left: 10%;
    }
    select{
        width: 80% !important;
    }
    input{
        width: 80% !important;
    }
    .container-fluid{
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 1024px) {
    .container-fluid{
        padding-right: 60px;
    }
}



